@color-text-header:#242424;
@container-width: 1318px;
@color-nav: #fff;
@color-nav-ul: #000000;
@color-banner-text:#212121;
@color-button-slick: #000000;
@color-footer: #323335;
@color-footer-h3: #333;
@color-footer-network: #676767;
@color-button-buy-homepage: #ff97cd;
@color-btn-catalog: #0d0d0d;

.set-a (@padding) {
    font-size: 14px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    padding-left: @padding;
    line-height: 30px;
    }
.minxin-line-awesome (@content, @font) {
    content: @content;
    font-family: @font; //"Line Awesome Free"
    font-weight: 900;
}
    
    