& when (@media-common = true) {
    .lib-font-face(
    @family-name: 'Lora', serif,
    @font-path: '@{baseDir}fonts/lora/light/Lora-BoldItalic',
    @font-weight: 300,
    @font-style: normal
);
    .lib-font-face (
        @family-name: 'Tomatoes',
        @font-path: '../fonts@{baseDir}fonts/Tomatoes-O8L8',
     
        @font-weight: 400,
        @font-style: normal
    );
    .lib-font-face (
        @family-name: 'Fugue',
        @font-path: '@{baseDir}fonts/fugue/Fugue-Regular',
        // @font-weight: 400,
        @font-style: normal
    );
    .lib-font-face (
        @family-name: 'Fugue-a',
        @font-path: '@{baseDir}fonts/fugue/Fugue-Regular',
        @font-weight: 100,
        @font-style: normal
    );
    .lib-font-face (
        @family-name: 'Opensans',
        @font-path: '@{baseDir}fonts/OpenSans-Light',
        @font-weight: 300,
        @font-style: normal
    );
    .lib-font-face (
        @family-name: 'OpenSans-Bold',
        @font-path: '@{baseDir}fonts/OpenSans-Bold',
        @font-weight: 700,
        @font-style: normal
    );

}